@media only screen and (max-width: 760px) {
    .header {
        padding: 15px 0;
    }
    .headerbox {
        max-width: 546px;
        margin: auto;
        justify-content: space-between;
    }    
    .logo {
        width: 140px;
        height: 42px;
        order: 2;
    }
    .menu {
        width: 66px;
        height: 36px;
        font-weight: 700;
        order: 1;
        flex: none;
    }
    .button {
        width: 78px;
        height: 36px;
        order: 3;
    }
    .image {
        width: 100%;
        height: 491px;
        order: 1;
    }
    .content {
        width: 100%;
        order: 2;
    }
    .title {
        width: 546px;
        height: 60px;
    }
    .item {
        width: 100%;
        height: 420px;
    }
    .box2-item {
        max-width: 546px;
    }
    .item3 {
        width: calc((100% - 30px) / 2);
        height: 300px;
    }
    .item4 {
        width: calc((100% - 30px) / 2);
        height: 300px;
    }
}