@media only screen and (max-width: 1230px) {
    .header {
        margin: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        padding-left: 136px;
        padding-right: 136px;
    }
    .logo {
        width: 140px;
        height: 42px;
    }
    .menu {
        height: 30px;
        font-weight: 700
    }
    .button {
        width: 102px;
        height: 36px;
    }
    .image {
        height: 310px;
    }
    .title {
        width: 100%;
        height: 60px;
    }
    .item {
        width: calc((100% - 30px) / 2);
        height: 420px;
    }
    .box2-item {
        justify-content: flex-start;
    }
    .item3 {
        width: calc((100% - 2*30px) / 3);
        height: 300px;
    }
    .item4 {
        width: calc((100% - 30px) / 2);
        height: 300px;
    }
    .box1 {
        padding: 136px;
    }
    .box2 {
        padding: 136px;
    }
    .box3 {
        padding: 136px;
    }
    .box4 {
        padding: 136px;
    }
}