@media only screen and (max-width: 1230px) {
    .header {
        padding: 15px 0;
    }
    .headerbox {
        max-width: 720px;
        margin: auto;
    }
    .logo {
        width: 140px;
        height: 42px;
    }
    .menu {
        height: 30px;
        font-weight: 700;
    }
    .button {
        width: 102px;
        height: 36px;
    }
    .image {
        height: 310px;
    }
    .title {
        width: 720px;
        height: 60px;
    }
    .item {
        width: calc((100% - 30px) / 2);
        height: 420px;
    }
    .box2-item {
        max-width: 720px;
    }
    .item3 {
        width: calc((100% - 2*30px) / 3);
        height: 300px;
    }
    .item4 {
        width: calc((100% - 30px) / 2);
        height: 300px;
    }
    
}